a:link {
    color:darkgreen;
    text-decoration: none;
}

a:hover {
    color:rgb(27, 143, 46);
    font-size: 112.5%;
}

a:active {
    color:darkgreen;
}

a:visited {
    color:darkred;
}

a:visited:hover {
    color:red;
}

a:visited:active {
    color:darkred;
}

body{
    color:blue;
    background-color:blanchedalmond;
}

h1{
    color:rgb(105, 42, 105);
    padding: 0;
    margin: 0, auto;
    margin-left: 0, auto;
    margin-right: 0, auto;
    text-align:center;
}

h2{
    color:rgb(105, 42, 105);
}

h3{
    color:rgb(105, 42, 105);
}

h4{
    color:rgb(105, 42, 105);
}

.centered{
    padding: 0;
    margin: 0, auto;
    margin-left: 0, auto;
    margin-right: 0, auto;
    text-align:center;

}